*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lightapp{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption{
    text-align: center;
}

#bulbdata{
    display: flex;
    justify-content: center;
}